Django==1.5.1
MySQL-python==1.2.5
PyJWT==0.1.6
dj-database-url==0.2.2
dj-static==0.0.5
gunicorn==18.0
opentok==0.91.2
psycopg2==2.5.1
pymongo==2.6.2
pystmark==0.3.3
requests==2.2.0
static==0.4
wsgiref==0.1.2
analytics-python==0.4.4
Fabric==1.6.0
psutil==1.1.3