.videos-section {
}

.current-video {
    float: left;
    width: 100%;
    background-color: blue;
}

.video-frame {
    border: solid 10px #cfd2da;
    background-color: #d0c3cf;
    position: relative;
    text-align: center;
}

.video-frame object {
    position: absolute;
}

.video-main {
    height: 539px;
    position: relative;
}

.video-main .loading-spinner {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    text-align: center;
}

.video-secondary {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 227px;
    height: 127px;
    z-index: 700;
    border-width: 6px; /* TODO: Find out the right z-index */
}

.video-secondary .loading-spinner {
    display: inline-block;
    margin: 0 auto;
    height: 50px;
    width: 50px;
}

.next-video {
    float: left;
    width: 100px;
    position: absolute;
    left: 100%;
    height: 400px;
    background-color: blue;
    margin-left: 50px;
}

.video-next {
    background-color: #495171;
    height: 400px;
    position: relative;
    border-right: 0px!important;
}

.chat-information {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;   

    color: white;
}

.connect-button {
    float: left;
    margin-right: 20px;
    width: 80px;
    height: 80px;
}

.next-button {
    float: right;
    height: 60px;
}

.partner-information {
    
}

.partner-name {

}

.partner-description {

}

/* Main loading spinner states (loading an searching) */

/* Standard state is spinner, but show a search icon when searching for partner */
.loading-spinner.search {
    display: none;
}

.searching-for-partner .loading-spinner.spinner {
    display: none;
}

.searching-for-partner .loading-spinner.search {
    display: inline-block;
}

#myPublisherDivContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#mySubscriberDivContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.vertical-align-hack {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.spinner-container {
    position: absolute;
    height: 100%;
    width: 100%;
}