@font-face {
    font-family: 'tide_sans500_dudette';
    src: url('../fonts/tidesans-500dudette-webfont.eot');
    src: url('../fonts/tidesans-500dudette-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tidesans-500dudette-webfont.woff') format('woff'),
         url('../fonts/tidesans-500dudette-webfont.ttf') format('truetype'),
         url('../fonts/tidesans-500dudette-webfont.svg#tide_sans500_dudette') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'tide_sans200_lil_mondo';
    src: url('../fonts/tidesans-200lilmondo-webfont.eot');
    src: url('../fonts/tidesans-200lilmondo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tidesans-200lilmondo-webfont.woff') format('woff'),
         url('../fonts/tidesans-200lilmondo-webfont.ttf') format('truetype'),
         url('../fonts/tidesans-200lilmondo-webfont.svg#tide_sans200_lil_mondo') format('svg');
    font-weight: normal;
    font-style: normal;

}

.videos-section {
}

.current-video {
    float: left;
    width: 100%;
    background-color: blue;
}

.video-frame {
    border: solid 10px #cfd2da;
    background-color: #d0c3cf;
    position: relative;
    text-align: center;
}

.video-frame object {
    position: absolute;
}

.video-main {
    height: 539px;
    position: relative;
}

.video-main .loading-spinner {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    text-align: center;
}

.video-secondary {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 227px;
    height: 127px;
    z-index: 700;
    border-width: 6px; /* TODO: Find out the right z-index */
}

.video-secondary .loading-spinner {
    display: inline-block;
    margin: 0 auto;
    height: 50px;
    width: 50px;
}

.next-video {
    float: left;
    width: 100px;
    position: absolute;
    left: 105%;
    background-color: blue;
    margin-left: 50px;
}

.video-next {
    background-color: #495171;
    height: 539px;
    position: relative;
    border-right: 0px!important;
}

.chat-information {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;   

    color: white;
}

.connect-button {
    width: 112px;
    height: 32px;
    background-color: #38d37a;
    border-radius: 6px;
    margin-top: 6px;
    font-size: 20px;
    cursor: pointer;
}

.next-button {
    float: right;
    height: 60px;
    padding-top: 25px;
    padding-right: 3px;
    text-align: center;
}

.partner-information {
    
}

.partner-name {
    font-family: 'tide_sans500_dudette';
    font-size: 37px;
    padding-top: 8px;
}

.partner-description {
    font-family: 'tide_sans200_lil_mondo';
    font-size: 22px;
    color: #b6c7f1;
    margin-top: -2px;
    line-height: 27px;
}

/* Main loading spinner states (loading an searching) */

/* Standard state is spinner, but show a search icon when searching for partner */
.loading-spinner.search {
    display: none;
}

.searching-for-partner .loading-spinner.spinner {
    display: none;
}

.searching-for-partner .loading-spinner.search {
    display: inline-block;
}

#myPublisherDivContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#mySubscriberDivContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.vertical-align-hack {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.spinner-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.partner-profile-picture {
    width: 112px;
    height: 112px;
    border-radius: 75px;
    border: 1px solid white;
    background-image: url(http://screencritix.com/wp-content/uploads/2013/10/avatar-navi-120x120.jpg);    
}

.connect-section {
    width: 114px;
    float: left;
    margin-right: 24px;
    
}

.connect-plus {
    display: inline-block;
    width: 17px;
    height: 18px;
    vertical-align: -3px;
    background-image: url(../images/connect-plus.png);
    margin-left: 7px;
    margin-right: 3px;
}

.next-arrows {
    display: inline-block;
    background-image: url(../images/next-arrow.png);
    width: 25px;
    height: 24px;
    
}

.next-text {
    font-size: 14px;
    
}