{% extends 'base.html' %}
{% block content %}
<form action="" method="post" class="user_form">
    <h2>About You</h2>
    <input type="text" value="Name">
    <input type="text" value="Email">
    <select>
        <option>Country</option>
        <option>Country1</option>
        <option>Country2</option>
        <option>Country3</option>
        <option>Country4</option>
        <option>Country5</option>
        <option>Country6</option>
        <option>Country7</option>
        <option>Country8</option>
        <option>Country9</option>
        <option>Country10</option>
        <option>Country11</option>
        <option>Country12</option>
    </select>
    <select>
        <option>City</option>
        <option>City1</option>
        <option>City2</option>
        <option>City3</option>
        <option>City4</option>
        <option>City5</option>
        <option>City6</option>
        <option>City7</option>
        <option>City8</option>
        <option>City9</option>
        <option>City10</option>
        <option>City11</option>
        <option>City12</option>
    </select>
    <textarea>Interests</textarea>
    <input type="submit" value="Get Started">
</form>
{% endblock %}
