{% extends 'base.html' %}
{% block content %}
<form action="/chat" method="POST" class="user_form">
    {% csrf_token %}
    <h2>About You</h2>
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="country" placeholder="Country">
    <input type="text" name="city" placeholder="City">    
    <textarea name="interests" placeholder="Interests"></textarea>
    <input type="submit" value="Get Started">
</form>
{% endblock %}
