{% extends 'base.html' %}
{% block scripts %}

<script type="text/javascript">
  profile_id = {{profile_id}}
</script>

<script src="https://static.vline.com/vline.js"></script>
<script src="/static/js/jquery.gritter.min.js"></script>
<script src="/static/js/chat-state.js"></script>
<script src="/static/js/video-page.js"></script>

<script>
     logoNames = [
        "ChatSummit",
        "AnyUni",
        "ChatGo",
        "Bridg.er",
        "HubSphere",
        "ChatMountain",
        "Club 84",
     ]

     function nextChat() {
        $(".current-video").addClass('searching-for-partner');
        window.chatWindow.disconnect();

        window.setTimeout(function() {
            window.chatWindow.connect();
        },5000);
     }

     var END_CHAT_NOTIFY_PERIOD = 1000*60;
     var showingEndChat = false;
     var chatEndNotif;
     var timeLeftInEvent;
     var timeLeftInChat;
     var showingLastChat = false;
     var lastChatNotif;
     var endPending = false;

     function handleEvent(event,data) {
        console.log(event + " " + data);

        if ( event === 'chatStart' || event === 'chatInProgress') {
          timeLeftInChat = data;
        }

        if ( event === 'eventInProgress' || event == 'eventStart' ) {
          timeLeftInEvent = data;
        }

        if ( typeof(timeLeftInEvent) !== 'undefined' && typeof(timeLeftInChat) !== 'undefined') {
          if ( timeLeftInEvent < timeLeftInChat ) {
            if ( !showingLastChat ) {
              lastChatNotif = $.gritter.add({title: "Last chat!", text: "This is your last chat!", class_name: 'last-chat-notification', sticky: true});
              showingLastChat = true;
            }
          }
        }

        if ( event === 'eventEnd' ) {
          timeLeftInEvent = undefined;

          if ( showingLastChat ) {
            $.gritter.remove(lastChatNotif);
          }
        }

        if ( event === 'chatInProgress' ) {
          if ( data <= END_CHAT_NOTIFY_PERIOD ) {
            if ( !showingEndChat ) {
              chatEndNotif = $.gritter.add({title: "Time's almost up!", text: "You chat will end in "+data, class_name: 'end-chat-notification', sticky: true});
              showingEndChat = true;
            } else {
              $(".end-chat-notification p").text("You chat will end in "+data);
            }
          }
        }

        if ( event === 'chatEnd' ) {
          if ( showingEndChat ) {
            showingEndChat = false;
            $.gritter.remove(chatEndNotif);
          }
          timeLeftInChat = undefined;
        }

        if ( event === 'eventEarly' ) {
          $(".frame-contents").text("You're early! We're starting in "+data);
        }

        if ( event === 'eventLate' ) {
          $(".frame-contents").text("You're late! Go go go!");
        }

        if ( event === 'eventStartIn') {
          $(".frame-contents").text("You're early! We're starting in "+data);
        }

        if ( event === 'eventStart' && typeof(timeLeftInChat) !== 'undefined') {
          $.gritter.add({title: "Event is starting!", text: "Yay!"});
        }

        if ( event === 'eventStart') {
          $(".frame-contents").text("Event is a go! Click to start!");
        }

        if ( event === 'eventEnd' ) {
          $.gritter.add({title: "Event is over!", text: "Yay!"});
          endPending = true;
        }

        if ( endPending && typeof(timeLeftInChat) === 'undefined') {
          $(".frame-contents").text("Event is over! Goodbye!");
          endPending = false;
        }
     }
     
     window.stateMachine = new ChatStateMachine(handleEvent);

     $(function() {
        window.connectButtonHandler = ConnectButtonHandler($('.js-connect-button'));

        $(".current-video").addClass('searching-for-partner'); /* Show the searching icon before we start */

        console.log("Logging in...");
        $.ajax({
         method: "GET",
         dataType: "JSON",
         url: "/login",
         data: {
            user:GlobalFaceTime.user
          },
          success: function(data) {
            window.stateMachine.start(data.eventInfo);

            GlobalFaceTime.chatClient = new ChatClient(data.token,function() {
                window.chatWindow = new ChatWindow(GlobalFaceTime.user,GlobalFaceTime.chatClient,"#myPublisherDivContainer","#mySubscriberDivContainer");

                nextChat();
            },function() {
                $(".current-video").removeClass('searching-for-partner');
            },function() {
                nextChat();
            })
          }
        });

        $("#next-button").click(function() {
           window.chatWindow.disconnect();
        });

        var chosenLogo = logoNames[Math.floor(Math.random() * logoNames.length)];   
        $("#logo-text").text(chosenLogo);        
     });
     </script>

     <link href="/static/css/style-video.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="videos-section clearfix">
    <div class="current-video">
        <div class="video-frame video-main">
            <div class='spinner-container'>
              <div class='vertical-align-hack'></div>
              <div class='frame-contents' style='display: inline-block; text-align: center; vertical-align: middle'></div>
              <img class="loading-spinner spinner" src="/static/images/big_loader.gif">
              <img class="loading-spinner search" src="/static/images/search.png">
            </div>
            <div id="mySubscriberDivContainer"></div>

            <div class="video-frame video-secondary">
                <div class='spinner-container'>
                  <div class='vertical-align-hack'></div>
                  <img class="loading-spinner" src="/static/images/big_loader.gif">
                </div>
                <div id="myPublisherDivContainer"></div>
            </div>
        </div>
    </div>

    <div class="next-video">
        <div class="video-frame video-next">
        </div>
    </div>
</div>

<div class="chat-information">
    <div class="connect-section">
      <div class="partner-profile-picture"></div>
      <div class="connect-button js-connect-button"><div class='connect-plus'></div>connect</div>  
    </div>
    <div class="next-button" id="next-button"><div class='next-arrows'></div><div class='next-text'>NEXT</div></div>
    <div class="partner-information">
        <h4 class="partner-name">Waiting for a peer</h4>
        <p class="partner-description">Hang on tight...</p>
    </div>
</div>
{% endblock %}