<html>
<head>
	<script src="https://static.vline.com/vline.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script src="/static/js/video-page.js"></script>

     <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
     <link href="/static/css/video-style.css" rel="stylesheet" type="text/css">
     
     <script>

     logoNames = [
        "ChatSummit",
        "AnyUni",
        "ChatGo",
        "Bridg.er",
        "HubSphere",
        "ChatMountain",
        "Club 84",
     ]

     function nextChat() {
        $(".current-video").addClass('searching-for-partner');
        window.chatWindow.disconnect();

        window.setTimeout(function() {
            window.chatWindow.connect();
        },5000);
     }

     $(function() {
        $(".current-video").addClass('searching-for-partner'); /* Show the searching icon before we start */

        console.log("Logging in...");
        $.ajax({
         method: "GET",
         dataType: "JSON",
         url: "/login",
         data: {
            user:GlobalFaceTime.user
          },
          success: function(data) {
            GlobalFaceTime.chatClient = new ChatClient(data.token,function() {
                window.chatWindow = new ChatWindow(GlobalFaceTime.user,GlobalFaceTime.chatClient,"#myPublisherDivContainer","#mySubscriberDivContainer");

                nextChat();
            },function() {
                $(".current-video").removeClass('searching-for-partner');
            },function() {
                nextChat();
            })
          }
        });

        $("#next-button").click(function() {
           window.chatWindow.disconnect();
        });

        var chosenLogo = logoNames[Math.floor(Math.random() * logoNames.length)];   
        $("#logo-text").text(chosenLogo);
     });
     </script>
</head>
<body>
	<div class="main-container">
        <div class="main-content">
            <div class="header">
                <div class="logo" id="logo-text"></div>
                <div class="top-menu"> WASUPPP </div>
            </div>

            <div class="videos-section clearfix">
                <div class="current-video">
                    <div class="video-frame video-main">
                        <img class="loading-spinner spinner" src="/static/images/big_loader.gif">
                        <img class="loading-spinner search" src="/static/images/search.png">

                        <div id="mySubscriberDivContainer"></div>

                        <div class="video-frame video-secondary">
                            <img class="loading-spinner" src="/static/images/big_loader.gif">
                            <div id="myPublisherDivContainer"></div>
                        </div>
                    </div>
                </div>

                <div class="next-video">
                    <div class="video-frame video-next">
                    </div>
                </div>
            </div>
            
            <div class="chat-information">
                <div class="connect-button btn btn-info"><br>Connect</div>
                <div class="next-button btn btn-primary" id="next-button">&gt;&gt;<br>Next</div>
                <div class="partner-information">
                    <h4 class="partner-name">HARRY POTTER</h4>
                    <p class="partner-description">Serendipity amorphisms sublime enjoyment croussiount Serendipity amorphisms sublime enjoyment croussiount Serendipity amorphisms sublime enjoyment croussiount Serendipity </p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-logos-container">
            <div class="footer-logo">I AM A PRETTY LOGO</div>
            <div class="footer-logo">I AM A PRETTIER LOGO</div>
        </div>
    </div>
</body>
</html>